<h1>Employee Tracker</h1>
<h2>Projects</h2>

<% if @projects.any? %>
  <ul>
    <% @projects.each do |project| %>
      <li><%= link_to project.name, project_path(project) %></li>
    <% end %>
  </ul>
<% else %>
  <p>No projects to display yet.</p>
<% end %>

<p><%= link_to "Add a project", new_project_path %></p>
